<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Data Science News</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <!-- Custom Styles-->
    <link href="static/css/custom-styles.css" rel="stylesheet"/>
    <link href="static/css/navbar.css" rel="stylesheet"/>
    <!-- Google Fonts-->

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Chart Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
<div id="wrapper">
    <!-- TOP NAVBAR -->
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand waves-effect waves-dark" href=""><i class="material-icons" style="color: #919932;">blur_on</i><strong>
                Data Science News</strong></a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li><a class="nav-link" target="_blank" href="https://github.com/LukaszMalucha/Springboard-Insights"><i
                    class="fab fa-github" style="color: #24292e;"></i> <b>GitHub</b></a></li>
            <li><a class='dropdown-trigger nav-link' href='#' data-target='dropdown-user' id="user_dropdown"><i
                    class="fas fa-caret-down" style="color: #919932;"></i><b>User
            </b></a></li>
            <li><a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" id="trigger">menu</i></a>
            </li>
        </ul>
    </nav>

    <!-- DROPDOWN -->
    <ul id="dropdown-user" class="dropdown-content">
        <li><a href=""><i class="fa fa-user fa-fw"></i> Log In</a></li>
        <li><a href=""><i class="fas fa-tasks"></i> Register</a></li>
        <li><a href=""><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
    </ul>


    <!-- MOBILE -->
    <ul class="sidenav" id="mobile-demo">
        <li><a class="dropdown-button waves-effect waves-dark" target="_blank" href=""><i class="fab fa-github"
                                                                                          style="color: #24292e;"></i>
            <b>GitHub</b></a></li>
        <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:login' %}"><i class="fa fa-user"
                                                                                                style="color: #919932;"></i><b>
            Log In</b></a></li>
        <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:register' %}"><i class="fas fa-tasks"
                                                                                                   style="color: #919932;"></i><b>
            Register</b></a></li>
        <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:logout' %}"><i
                class="fas fa-sign-out-alt" style="color: #919932;"></i><b> Log Out </b></a></li>

    </ul>

    <!-- PAGE-WRAPPER -->

    <!-- PAGE-INDEX -->
    <div id="page-index">
        <div class="row header">

        </div>

        <div class="dashboard-cards">
            <div class="row row-cards">
                <div class="col-md-4">
                    <div class="card menu-card weather">

                        <div class="card-content white-text">
                            <span id="weather-title">Loading...</span>

                            <hr class="short">
                            <table class="table table-weather">
                                <tbody>
                                <tr>
                                    <td>Time:</td>
                                    <td><b id="clock"></b></td>
                                </tr>
                                <tr>
                                    <td>Temperature:</td>
                                    <td><b id="info2"></b></td>
                                </tr>
                                <tr>
                                    <td>Wind:</td>
                                    <td><b id="info3"></b></td>
                                </tr>
                                <tr>
                                    <td>Humidity:</td>
                                    <td><b id="info4"></b></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="card menu-card">
                        <div class="card-image">
                            <img src="static/img/header.jpg" class="img responsive">
                        </div>
                        <div class="card-content">
                            <a href="#" class="card-title"><span>Data News</span></a>
                            <a disabled class="btn tweetQuote" href=""><i class="fab fa-twitter"></i> Tweet</a>
                        </div>
                        <button type="submit" class="btn btn-enter"><span>Get the latest News <i
                                class="far fa-arrow-alt-circle-right"></i></span></button>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card menu-card">
                        <br>
                        <span class="card-title">Wikipedia Search</span>
                        <br><br><br><br>
                        <div class="searchbox">
                            <input type="text" class="form-control" id="search" placeholder="Search Wikipedia">
                            <br><br>
                            <button class="btn btn-primary random">Random Article</button>
                        </div>
                        <br><br>
                        <div class="searchResults">
                            <div id="update">

                            </div>

                            <div class="container-fluid embed-responsive embed-responsive-16by9">
                                <div class="row">
                                    <iframe src="" frameborder="0" class="embed-responsive-item" width="100%"
                                            allowfullscreen>


                                    </iframe>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <!-- PAGE-INDEX -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->

<!-- Bootstrap Js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- Materialize Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="static/js/custom-scripts.js"></script>

</body>

</html>
