/*----------------------------------------------
    COMMON  STYLES    
------------------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 0;
    background-color: white;

}

html {
    height: 100%;
    box-sizing: border-box;
}


#wrapper {
    width: 100%;
}

#page-index {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    top: 55px;
    background-image: url('../../static/img/background.png');
    background-size: cover;

}

#page-index a {
    text-decoration: none;
    outline: 0;
    /*font-size: 10px;*/
}

.text-center {
    text-align: center;
}


.header {
    min-height: 72px;
    margin: 10px;
}

a {
    color: #4267b2
}

.plain-element {
    margin: 0px;
    padding: 0px;
}

.short {
    width: 80%;
}

/*----------------------------------------------
   DASHBOARD STYLES    
------------------------------------------------*/

.dashboard-cards {
    border: none;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 10%;
    box-shadow: none;
    width: 100%;
    min-height: 600px;
    display: block;
    overflow: auto;


}

.row-cards {
    width: 100%;
    text-align: center !important;
    margin: auto;
    padding: 1% 5% 0% 5%;



}

.card .card-image .card-title {
    color: black;
}

.card .card-image img {
    border-bottom: 1px solid #DCDCDC;
}

.weather {
    background-image: url('../../static/img/weather.jpg');
    background-size: cover;
    font-size: 24px !important;
    font-weight: bold !important;
}





.menu-card {
    box-shadow: 0 3px 3px 0 #A9A9A9, 0 3px 1px -2px #838383, 0 1px 5px 0 #838383;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
    float: none;

}

.menu-card:hover {
    box-shadow: 0 3px 3px 0 #2d4b65, 0 3px 2px -2px #2d4b65, 0 2px 5px 0 #2d4b65;
}

.card .card-content .card-title {
    color: #2d4b65;
    font-weight: bold;
}


.card .card-content p {
    color: black;
    font-size: 12px;
    min-height: 25px;
}

.card .card-title {
    font-size: 2rem;
    font-weight: bold;
    min-height: 70px;
}



#weather-title {
    font-size: 26px;
}

#clock {
    font-size: 24px;
}


.searchbox {
    width: 50%;
    margin: auto;
}

#update {
    width: 80%;
    margin: auto;
    text-align: left;
}


.searchResults {
    max-height: 400px;
    overflow: auto;
}

iframe {
    max-height: 500px;
}

/*----------------------------------------------
    BUTTONS
------------------------------------------------*/


.btn {
    color: white;
    background-color: #2d4b65;
    border: none;
    width: 40%;
    margin: 0;
    font-weight: bold;
    font-size: 0.8rem;
}

.btn-enter {
    background-color: #2d4b65;
    width: 100%;
    text-align: right;
    font-size: 14px;
}

.btn-enter i {
    font-size: 16px;
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #1DA1F2;
    color: white;

}

.btn-enter:hover,
.btn-enter:focus,
.btn-enter:active {
    background-color: #1f3039;
    color: white;
}



.tweetQuote {
    background: #4ab3f4;
    border-radius: 15px;
    color: white;
    width: 40%;
}

.tweetQuote:hover,
.tweetQuote:active,
.tweetQuote:focus,{
    background: #1DA1F2 !important;
    color: white;
}

/*----------------------------------------------
    TABLES
------------------------------------------------*/

.table-weather {
 width: 80%;
 margin: auto;
}


.table-weather tr,
.table > tbody > tr > td {
    border: none;
}

/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/

@media(max-width:1900px) {}


@media(max-width:1500px) {}

@media(max-width:1500px) {
    .card .card-title {
        font-size: 18px;
    }

}

@media(max-width:859px) {}

@media(min-width:768px) {}

@media(max-width:768px) {}



@media(max-width:695px) {}


@media(max-width:520px) {}


@media(max-width:480px) {}
